body{
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    display: grid;
    grid-template-columns: 20% 30% 5% 30% 15%;
    grid-template-rows: 30% 20% 20% 10% 20%;
    background-color: white;
}

#env{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(65, 56, 56);
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
}

.key{
    background-color: white;
    grid-row: 2/3;
    grid-column: 4/5;
}

#reset{
    grid-row: 5/6;
    grid-column: 4/5;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    background-color: white;
    text-decoration: none;
    outline: none;
}

#info{
    justify-self: center;
    grid-row: 3/4;
    grid-column: 4/5;
}

#env > button{
    border: 1px solid black;
    color: black;
    font-size: 8rem;
    background-color: white;
    text-decoration: none;
    outline: none;
}

#env > button:hover{
    background-color: #e7e7e7;
}